@using _3.MVC_EF.Models
@*@model IQueryable<_3.MVC_EF.Models.NewsInfo>*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectByJoin</title>
</head>
<body>
    <div>
        <table border="1">
            <thead>
                <tr style="font-weight:bold">
                    <td>ID</td>
                    <td>Title</td>
                    <td>Type</td>
                </tr>
            </thead>
            <tbody>
                @foreach (NewsInfoViewModel uInfo in Model)
                {
                    <tr>
                        <td>@uInfo.nid</td>
                        <td>@uInfo.nTitle</td>
                        <td>@uInfo.newsType</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
